<div class="row">
  <div class="col-md-5">


    <!--<div class="row">-->
    <!--<div class="col-xs-12">-->


    <ng-template [ngIf]="isListView()">
    <!--<div class="panel panel-default">-->

    <noto-entry-list></noto-entry-list>
    </ng-template>


    <ng-template [ngIf]="!isListView()">
      <!--<div class="panel panel-default">-->

      <noto-entry-calendar></noto-entry-calendar>
    </ng-template>



    <div style="padding-left: 41%">
      <a
        class="btn btn-primary glyphicon glyphicon-list btn black-background white"
        style="border-top-right-radius: 0%; border-bottom-right-radius: 0%;"
        (click)="openListView()">
      </a>
      <a
        class="btn btn-primary glyphicon glyphicon-calendar btn black-background white"
        style="margin-left: -3px; border-top-left-radius: 0%; border-bottom-left-radius: 0%;"
        (click)="openCalendarView()">
      </a>
    </div>

    </div>


    <!--</div>-->
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
</div>
    <!--</div>-->

