<div class="row">
  <div class="col-xs-12 ">

    <img
      style="cursor: pointer;"
      src="https://static.wixstatic.com/media/f77b93_91f4ca3c9eb64620b2f20a9a9929afc1~mv2.png/v1/fit/w_925,h_569,al_c,q_80/file.png"
      class="img-responsive centre"
      style="height: 250px">

    <!--col-lg-10-->

    <div class="col-xs-12 col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-4">

      <form [formGroup]="loginForm"
            (ngSubmit)="onLogin(f)"
            #f="ngForm"
            style="padding-top: 25px;">

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label
                style="font-family: 'Poppins', sans-serif;"
                for="email">Email
              </label>
              <input
                style="font-family: 'Raleway', sans-serif;"
                type="text"
                id="email"
                formControlName="email"
                class="form-control"
                required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label
                style="font-family: 'Poppins', sans-serif;"
                for="password">Password
              </label>
              <input
                style="font-family: 'Raleway', sans-serif;"
                type="password"
                id="password"
                formControlName="password"
                class="form-control"
                required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6 col-xs-12 col-xs-offset-4 col-sm-offset-4 col-md-offset-2">
            <!--<button type="submit"-->
            <!--class="btn black-background white"-->
            <!--[disabled]="!entryForm.valid">Log In-->
            <!--</button>-->

            <button class="btn btn-primary black-background white"
                    type="submit"
                    style="font-family: 'Poppins', sans-serif; z-index: 1"
                    [disabled]="!f.valid">
              Log In
            </button>

          </div>
        </div>

        <div
          style="font-family: 'Raleway', sans-serif; text-align: left; padding-top: 8px;"
          *ngIf="!authWorked">
          Email or password was incorrect.
        </div>

      </form>

    </div>


  </div>
</div>




