<div class="row">
  <div class="col-xs-12 ">

    <img
      style="cursor: pointer;"
      src="https://static.wixstatic.com/media/f77b93_91f4ca3c9eb64620b2f20a9a9929afc1~mv2.png/v1/fit/w_925,h_569,al_c,q_80/file.png"
      class="img-responsive centre"
      style="height: 250px">

    <div class="col-xs-12" style="padding-left: 34.5%">

      <form [formGroup]="loginForm"
            (ngSubmit)="onLogin(f)"
            #f="ngForm"
            style="padding-top: 25px;">

        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control"
                required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                formControlName="password"
                class="form-control"
                required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12" style="padding-left: 20%">
            <!--<button type="submit"-->
            <!--class="btn black-background white"-->
            <!--[disabled]="!entryForm.valid">Log In-->
            <!--</button>-->

            <button class="btn btn-primary black-background white"
               type="submit"
               style="z-index: 1">
              Log In
            </button>

          </div>
        </div>

      </form>

    </div>


  </div>
</div>




