<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">


      <!--<button type="button"-->
              <!--class="navbar-toggle"-->
              <!--data-toggle="collapse"-->
              <!--data-target="#myNavbar">-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" href="#">NOTO</a>-->
    <!--</div>-->
    <!--<div class="collapse navbar-collapse" id="myNavbar">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li><a href="#">Journal</a></li>-->
      <!--</ul>-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

      <a routerLink="/">
      <img
        style="cursor: pointer;"
        src="https://static.wixstatic.com/media/f77b93_3c4cbd90dcdb47ceaa675c9db9f0c802~mv2.png/v1/fill/w_750,h_398,al_c,usm_0.66_1.00_0.01/f77b93_3c4cbd90dcdb47ceaa675c9db9f0c802~mv2.png"
        class="img-responsive"
        style="max-height: 47px">
      </a>

    </div>

    <div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/journal">Journal</a></li>
        <li routerLinkActive="active"><a routerLink="/throwback">Throwback</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer" class="dropdown-toggle" role="button">Account <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer" >Settings</a></li>
            <li><a style="cursor: pointer" >Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>


    <!--<ul class="nav navbar-nav">-->
      <!--<li><a class="incFont" href="#">Journal</a></li>-->
    <!--</ul>-->

    <!--<ul class="nav navbar-nav navbar-right">-->
      <!--<li class="appDropdown">-->
        <!--<a style="cursor: pointer" class="dropdown-toggle incFont" role="button">Account <span class="caret"></span> </a>-->
        <!--<ul class="dropdown-menu">-->
          <!--<li><a class="incFont" style="cursor: pointer">Logout</a></li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

  </div>
</nav>
