<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">


      <!--<button type="button"-->
              <!--class="navbar-toggle"-->
              <!--data-toggle="collapse"-->
              <!--data-target="#myNavbar">-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" href="#">NOTO</a>-->
    <!--</div>-->
    <!--<div class="collapse navbar-collapse" id="myNavbar">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li><a href="#">Journal</a></li>-->
      <!--</ul>-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->




      <a class="navbar-brand">NOTO</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Journal</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="appDropdown">
        <a style="cursor: pointer" class="dropdown-toggle" role="button">Account <span class="caret"></span> </a>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>

</nav>
