<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row pad-left-right">
          <span class="panelPaddingLeft title pull-left textSize">Journal</span>
          <div class="panelPaddingRight pull-right pad-left-right ">
            <a class="btn btn-primary black-background white glyphicon glyphicon-plus"
               (click)="onNewEntry()"></a>
          </div>
        </div>
        <div class="panelPaddingLeft row">
          <div class="input-group pull-left pad-left-right col-xs-7 ">
            <input class="form-control"
                   placeholder="Enter search value"
                   #searchBox
                   (keypress)="onKeyPress(searchBox.value)">
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">

            <noto-entry-item
              *ngFor="let entry of entries | journalFilter : [term]; let i = index"
              [entry]="entry"
              [index]="i">
              <!--(entrySelected)="onEntrySelected(entry)"-->
            </noto-entry-item>

            <hr>
            <button class="glyphicon glyphicon-list btn black-background white"></button>
            <button class="glyphicon glyphicon-calendar btn black-background white"></button>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
